swt-tabfolder,
swt-composite,
swt-label,
swt-label-separator,
swt-group,
swt-shell-dialog,
swt-slider,
.swt-control {
    box-sizing: border-box;
    position: absolute;
    white-space: nowrap;
    display: block;
    visibility: inherit;
}

button.swt-control,
swt-label,
swt-composite {
    overflow: hidden;
}

button.swt-control > img,
button.swt-control > span {
    vertical-align: middle;
}

button.swt-control > img + span:not(:empty),
label.swt-control > img + span:not(:empty) {
    margin-left: 1ex;
}

swt-label.swt-wrap,
button.swt-wrap {
    white-space: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: black;
    overflow: hidden;
}

label.swt-disabled {
    color: gray;
}


/* Group */

swt-group-border {
    display: block;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 8px 4px 4px 4px;
    border: 1px solid darkgray;
    padding: 8px 4px 4px 4px;
    visibility: inherit;
    overflow: hidden;
}


swt-group-border.swt-shadow-out {
    box-shadow: 4px 4px 4px grey;
}

swt-group-border.swt-shadow-in {
    box-shadow: inset 4px 4px 4px grey;
}

swt-group-text {
    display: inline-block;
    position: relative;
    left: 12px;
    padding: 0 4px;
    background-color: #fff;   /* Set to group color programmatically if changed */
    visibility: inherit;
}

/* shell (dialog) */

swt-shell {
    box-shadow: 4px 4px 16px;
    padding: 12px;
}

swt-shell-text {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    visibility: inherit;
    background-color: #7baaf7;
    color: white;
    padding: 12px;
}


/* Separators */

swt-label-separator {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    margin: auto;
}

swt-label-separator.swt-vertical {
    width: 1px;
}

swt-label-separator.swt-horizontal{
    height: 1px;
}


/* TabFolder */

swt-tabbar {
    white-space: normal;
    display: block;
    background-color: #7baaf7;
    color: white;
    visibility: inherit;
}

swt-tab {
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    visibility: inherit;
}

swt-tab.selected {
    color: black;
    background-color: white;
}

swt-slider-outer {
    display: block;
    visibility: inherit;
}

swt-slider-inner {
    display: block;
    visibility: inherit;
    height: 1px;
    width: 1px;
}