/*
 * Common and Controls
 */

swt-composite,
swt-group,
swt-label,
swt-label-separator,
swt-slider,
swt-shell,
swt-tabfolder,
.swt-control {
    box-sizing: border-box;
    position: absolute;
    white-space: nowrap;
    display: block;
    visibility: inherit;
}

button.swt-control,
swt-label,
swt-composite {
    overflow: hidden;
}

button.swt-control > img,
button.swt-control > span {
    vertical-align: middle;
}

button.swt-control > img + span:not(:empty),
label.swt-control > img + span:not(:empty) {
    margin-left: 1ex;
}

swt-label.swt-wrap,
button.swt-wrap {
    white-space: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: black;
    overflow: hidden;
}

label.swt-disabled {
    color: gray;
}

/*
 * Why?? :.(
 */
input[type=checkbox],
input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1.5px;
}



swt-shell-decoration,
swt-group-decoration {
    display: block;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    visibility: inherit;
    overflow: hidden;
}

/*
 * Group
 */

swt-group-decoration {
    margin: 4px;
    border: 1px solid darkgray;
    padding: 4px;
}

swt-group-decoration.swt-title {
    margin-top: 8px;
    padding-top: 8px;
}


swt-group-decoration.swt-shadow-out {
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px
   /* box-shadow: 4px 4px 4px grey; */
}

swt-group-decoration.swt-shadow-in {
    box-shadow: inset rgba(0, 0, 0, 0.15) 2px 2px 2px
}

swt-group-text {
    display: inline-block;
    position: relative;
    left: 12px;
    padding: 0 4px;
    background-color: #fff;   /* Set to group color programmatically if changed */
    visibility: inherit;
}

/*
 * Label
 */

swt-label-separator {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    margin: auto;
}

swt-label-separator.swt-vertical {
    width: 1px;
}

swt-label-separator.swt-horizontal{
    height: 1px;
}


/*
 * Shell
 */

swt-shell {
    background-color: white;
}

swt-shell.swt-child {
    box-shadow: 4px 4px 16px;
}

swt-shell.swt-root {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 100%;
    min-width: 100%;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

swt-shell-background {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:100%;
    min-height:100vh;
    margin:auto;
    background-color:rgba(0,0,0,0.3)
}

swt-shell-text {
    display: block;
    position: relative;
    left: 12px;
    visibility: inherit;
    color: white;
    padding: 12px;
}

swt-shell.swt-child > swt-shell-decoration.swt-border {
    padding: 12px;
}

swt-shell.swt-child > swt-shell-decoration.swt-title {
    border-top: 36px solid #7baaf7;
}


/*
 * Slider
 */

swt-slider-outer {
    display: block;
    visibility: inherit;
}

swt-slider-inner {
    display: block;
    visibility: inherit;
    height: 1px;
    width: 1px;
}

/*
 * TabFolder
 */

swt-tabbar {
    white-space: normal;
    display: block;
    background-color: #7baaf7;
    color: white;
    visibility: inherit;
}

swt-tab {
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    visibility: inherit;
}

swt-tab.selected {
    color: black;
    background-color: white;
}



.mac-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
}

.mac-scrollbar::-webkit-scrollbar:vertical {
    width: 11px;
}

.mac-scrollbar::-webkit-scrollbar:horizontal {
    height: 11px;
}

.mac-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.mac-scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}